 * { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #ece9e9;
  color: #000;
  line-height: 1.6;
  padding: 20px;
}

header {
  background: linear-gradient(90deg, #080808, #2b353f);
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

header h1, header h2, header b {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 15px 0;
}

nav ul li a {
  text-decoration: none;
  color: #faf6f6;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover {
  color: hsl(0, 17%, 98%);
  text-decoration: underline;
}

main section {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

main h2 {
  color: #070707;
  margin-bottom: 10px;
}

form {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: auto;
}

fieldset {
  border: 2px solid #0a0a0a;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 30px;
  align-items: center;
}

legend {
  font-weight: bold;
  color: #070707;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
}

textarea {
  resize: vertical;
}

/* Botão de envio */
.botao_enviar {
  background: #0a0a0a;
  color: rgb(241, 237, 237);
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.botao_enviar:hover {
  background: #0a0a0a;
}

/* ====== GALERIA ====== */
.imagem {
  width: 180px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.imagem:hover {
  transform: scale(1.05);
}

/* ====== FOOTER ====== */
footer {
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  background: #eff0f1;
  color: rgb(5, 5, 5);
  border-radius: 12px;
}

#icone-linkedin{
  width: 50px;
  height: 50px;
}

.icone-social{
  width: 50px;
  height: 50px;
}

ul, ol {
  padding-left: 40px; /* ou o valor que você preferir */
}